.user-block{
    background-color: #90a4ae;
    padding-bottom: 24px;
}

.margin-top{
    margin-top: 12px;
}

.margin-top-large{
    margin-top: 24px;
}

.background-green{
    background-color: #26a69a;
}

.background-pink{
    background-color: #ee6e73;
}

.fake-height{
    height: 300px;
}

img {
    max-width: 100%;
}

body{
    background-color: #fcfcfc;
}

.content-wrap {
    background-color: #fff;
}

form div.row button {
    top: 25px;
}

em {
    text-decoration: underline;
}